@import "~antd/dist/antd.css";
.App {
  overflow: hidden;
}
.left-box {
  height: 100vh;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.bottomBox {
  width: 25%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start-page {
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  color: #ccc;
  text-align: center;
}
